* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* - - -  Scroll effect - - - */
html {
  scroll-snap-type: y mandatory;
}

header,
.main,
.contact {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(243, 243, 243);
}

/* here we write our custum properties */

:root {
  /*color palette for this project*/
  --white: #ffffff;
  --black: #212121;
  --blue: #2ca2a7;
  --yellow: #f6c409;
  --grey: #979797;
}

/* - - - - - -  HEADER STYLES - - - - - - - */

/* NAV BAR STYLES */

header {
  width: 100%;
}

header nav {
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  /* tablet */
  header nav {
    flex-direction: column;
    align-items: center;
  }
}

nav a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: var(--white);
}
nav a:hover {
  background-color: var(--yellow);
  color: var(--black);
}

/* LANDING IMAGE STYLES */

.hero {
  width: 100%;
  height: 400px;
  background-image: url("../media/amy-hirschi-szrJ3wjzOMg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero .hero-text {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: var(--white);
}

.hero-text h1 {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .hero-text h1 {
    font-size: 20px;
  }
}

.hero-text i {
  color: var(--yellow);
}

.hero-text p {
  font-weight: 600;
}

.hero-text .btn {
  padding: 10px 30px;
  border: none;
  background-color: var(--blue);
  margin: 20px;
  color: var(--white);
  border-radius: 3px;
}

@media (max-width: 500px) {
  .btn {
    width: 70%;
  }
}

.hero-text .btn:hover {
  background-color: var(--yellow);
}
.hero-text .btn:focus {
  outline: none;
}

/* - - - - - -  MAIN CONTAINER STYLES - - - - - - - */

.main {
  width: 70%;
  background-color: var(--white);
  margin: 20px auto 0px;
  padding: 10px;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}

.main .services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

@media (max-width: 500px) {
  .main .services {
    flex-direction: column;
  }
}

.main .services .service {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service > h3 {
  color: var(--blue);
}

.service .icon {
  background-color: var(--yellow);
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service .icon i {
  font-size: 20px;
}

.service p {
  font-size: 14px;
  text-align: justify;
  padding: 10px;
}

/* - - - - - -  CONTACT STYLES - - - - - - - */

.contact {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
  }
}

form {
  background-color: var(--grey);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  color: var(--white);
}

form p {
  text-align: center;
  font-size: 20px;
  color: var(--yellow);
  font-weight: 600;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

textarea {
  width: 100%;
  max-height: 150px;
  min-height: 50px;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  margin: 10px 0px;
}

input[type="submit"] {
  width: 50%;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 20px;
  border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="submit"]:focus {
  outline: none;
}

/* - - - - - -  MEDIA QUERIES - - - - - - - */

/* 
min-width: 480px for phones
min-width: 768px for tablets

*/
